<%- model_class = RootRegisterExecution -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:register_execution_id) %></th>
      <th><%= model_class.human_attribute_name(:root_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @root_register_executions.each do |root_register_execution| %>
      <tr>
        <td><%= link_to root_register_execution.id, root_register_execution_path(root_register_execution) %></td>
        <td><%= root_register_execution.register_execution_id %></td>
        <td><%= root_register_execution.root_id %></td>
        <td><%=l root_register_execution.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_root_register_execution_path(root_register_execution), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      root_register_execution_path(root_register_execution),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_root_register_execution_path,
            :class => 'btn btn-primary' %>
