<%- model_class = Analysis -%>
<div class="page-header">
  <h1>Analises</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Inicio</th>
      <th>Fim</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @analyses.each do |analysis| %>
      <tr>
        <td><%= link_to analysis.name, analysis_path(analysis) %></td>
        <td><%= analysis.description %></td>
        <td><%= analysis.start_date %></td>
        <td><%= analysis.end_date %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_analysis_path(analysis), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      analysis_path(analysis),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => 'Novo'),
            new_analysis_path,
            :class => 'btn btn-primary' %>
